body{
    font-family: 'Sansita Swashed', cursive;
}
.banner-container{
    background-color: aquamarine;
}
.banner-column{
    background-color:red;
}
.navbar,container{
    background-color:black;
}
.about-container{
    background-color: skyblue;
}
.menu-container{
    background-color: tomato;
}
/* .bg-redtype{
    color: black!important;
}

.redtype-color{
   color: #FB857F;
} */
/* .order-container{
    background-color: lightgreen;
} */
.footer{
    background-color: hotpink;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;
  
  }
  .circle:hover{
       
      background-color: #474D5D;
    
    
    }